
body {
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden; 
  background: #f0f0f0;
}


#content-login {
  min-height: 100vh;
  background: url("../images/background.svg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Input index */
.input-container {
  position: relative;
  margin: 30px auto;
  width: 100%;
  max-width: 350px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  font-size: 18px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: #fff;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input:focus~.label,
.input-container input:valid~.label {
  top: -20px;
  font-size: 14px;
  color: #0d6efd;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #0d6efd;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input:focus~.underline,
.input-container input:valid~.underline {
  transform: scaleX(1);
}


/* sidebar */


.sidebar-content {
  min-width: 230px;
  max-width: 230px;
  background-color: #22333B !important;
  color: #fff;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  flex-shrink: 0;
}

#content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}


.sidebar-content .nav-link {
  color: #fff;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 6px;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.sidebar-content .nav-link.active {
  background-color: #f8f9fa;
  color: #000000 !important;
  font-weight: bold;
}

.sidebar-content .nav-link:not(.active):hover {
  font-weight: bold;
}


.btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
}


body {
  min-height: 100vh;
  display: flex;
  background: #f8f9fa;
  overflow-x: hidden;
}



.main-content {
  flex-grow: 1;
  padding: 20px;
}






.table-color {
  background-color: #22333B !important;
  color: #fff;
  border-color: #373b3e;
}





.home-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.pedidos-section,
.produtos-section {
  flex: 0 0 50%;
  overflow-y: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 8px;
}

.pagination button {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover:not(:disabled) {
  background-color: #343a40;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}




  

.offcanvas {
  background-color: #f8f9fa;
}






/* ====== ESTILO BASE DO CONTAINER ====== */
.home-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}


legend {
  font-weight: bold;
}




/* ====== ESTILO COOLINPUT ====== */
/* From Uiverse.io by kamehame-ha */
.coolinput {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
}

.coolinput label.text {
  font-size: 0.8rem;
  color: #2e4752;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #f8f9fa;
  width: fit-content;
}

.coolinput .input {
  padding: 10px;
  font-size: 0.85rem;
  border: 2px #2e4752 solid;
  background: #f8f9fa;
  border-radius: 0px !important;
  outline: none;
  resize: vertical;
}

.coolinput .input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #2e4752 !important;
}


/* ====== BOTÃO ====== */
.btn-form {
  display: block;
  margin: 20px  0 auto;
  padding: 10px 25px;
  border: none;
  background-color: #22333B;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-form:hover {
  background-color: #2e4752;
}


select.input option[disabled][selected] {
  color: #757575; 
}


select.input:invalid {
  color: #757575;
}

select.input option {
  color: #000; 
}


#filtrosContainer .coolinput {
  width: 100%;
  margin-top: 0; /
}














.table td {
  max-width: 200px;      
  white-space: normal;     
  word-wrap: break-word;   
  overflow-wrap: anywhere;
  vertical-align: middle;  
}

td img {
  max-width: 100px;        
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}
